.company-edit-form {
    display: grid;
    grid-template-areas: 
        "img img"
        "nameLabel nameInput"
        "descLabel descInput"
        "submit submit";
    gap: 2rem;
}

.company-edit-form__img {
    display: block;
    margin: 0  auto;
    width: 30rem;
    height: 20rem;
    grid-area: img;
    border: 0.2rem solid black;
}

.company-edit-form__name-label {
    grid-area: nameLabel;
    font-size: 1.7rem;
}

.company-edit-form__name-input {
    grid-area: nameInput;
    font-size: 1.3rem;
}

.company-edit-form__desc-label {
    grid-area: descLabel;
    font-size: 1.7rem;
}

.company-edit-form__desc-input {
    grid-area: descInput;
    font-size: 1.2rem;
}

.company-edit-form__submit-btn {
    grid-area: submit;
    font-size: 2rem;
}