.load-component {
    background-color: rgb(221, 221, 221);
    padding: 2rem;
}

.load-component__heading {
    text-align: center;
    font-size: 2rem;
    color: black;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.load-component__rotate {
    color: black;
    font-size: 5rem;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin: 0 auto;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}