$font-size: 1.5rem;

.nav {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 0.2rem solid black;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.nav__link {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    font-size: $font-size;
    font-weight: 900;
    text-align: center;
}

.nav__header-mobile {
    display: none;
    font-size: $font-size;
    margin: 0.4rem 0 0 1rem;
    padding: 0;
}

.nav__toggle-button-mobile {
    display: none;
    margin: 0 0.5rem 0 auto;
    color: black;
    font-size: $font-size;
}

@media screen and (max-width: 40rem) {
    .nav {
        flex-direction: column;
    }

    .nav__toggle-button-mobile, .nav__header-mobile {
        display: block;
    }

    .nav__link {
        display: none;
    }
}